

<div class="app">
  <div class="columns mb-2">
    <div class="column col-xs-12 col-6">
      <h1>
        <%= link_to "Items", items_path %>
      </h1>
    </div>
    <div class="column col-xs-12 col-6">
      <%= form_with url: items_url, method: "get", local: true, class: "mt-2" do |f| %>
        <div class="input-group">
            <%= f.text_field :query,
              class: "form-input", 
              placeholder: "find items by name, number, or other details",
              type: "search",
              value: @query %>
          <%= f.button "Search", type: "submit", name: nil, class: "btn btn-primary input-group-btn" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "list" %>
</div>