<%= render "admin/items/profile" do %>
  <table class="table item-holds-table">
    <thead>
      <th>#</th>
      <th>Member</th>
      <th>Reserved</th>
      <th>Wait time</th>
      <th>Position</th>
    </thead>
    <tbody data-controller="hold-order" data-hold-order-url="<%= admin_item_holds_path(@item) %>/:id/position">
      <% @holds.each_with_index do |hold, index| %>
        <tr data-position="<%= hold.position %>" data-id="<%= hold.id %>">
          <td><%= index + 1 %></td>
          <td>
            <%= link_to preferred_or_default_name(hold.member),
                  admin_member_holds_path(hold.member) %>
          </td>
          <td><%= date_with_time_title hold.created_at %></td>
          <td><%= time_ago_in_words(hold.created_at) %></td>
          <td><%= hold.position %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>